.top {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("/img/capa-loki-01.jpg") no-repeat;
  background-size: cover;
  height: 31.25rem; /* 500px */
}

.movie-main {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* overflow: hidden; */
}

.movie-main .description {
  margin-top: 10px;
  margin-bottom: 40px;
}
.movie-main .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.button-1 {
  background-color: var(--colorText-primary);
}

.button-1:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.button-2 {
  background-color: rgb(77, 77, 77);
}

.button-2:hover {
  background-color: rgba(77, 77, 77, 0.6);
}

.title {
  font-size: rem;
}

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
}

.nav-main {
  background-color: rgba(0, 0, 0, 0);
}

.carousel-movies{
  margin: 2rem;
}
