@media (max-width: 1024px) {
  .instagram-wrapper {
    min-width: 330px;
    width: 90%;
  }
}

@media (max-width: 650px) {
  .instagram-wrapper {
   
    width: 90%;
  }

  .instagram-phone {
    display: none;
  }

  .instagram-continue {
    width: 100%;
  }
}
